
.subscribe-button{
    background-color: black;
    color: white;
    border: none;
    padding: 7px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.is-subscribed{
    background-color: rgb(240, 240, 240);
    color: black;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.calculate-button{
    background-color: green;
    color: white;
    border: none;
    padding: 11px 14px;
}
.cost-value{
    padding: 10px;
}

.display-error{
    color: red;
}